.component-shopping-cart{
    .total-price{
        height: 100vh;
        border-left: 1px solid rgba($color: black, $alpha: 0.1);
        padding: 15px;
    }
}
.no-cart {
    display: flex;
    align-items: center;
    align-content: center;
    min-height: calc(100vh - 80px);
    >*{
        width: 100%;
        >*{
            width: 100%;
        }
    }
}