.productlist-component {

  .link-product{
    text-decoration: none;
    color: black;
  }

  .product-container {
    padding: 10px 0;
    transition: 0.7s;

    &:hover {
      transform: scale(1.1);
    }

    &__image {
      width: 100%;
      max-width: 200px;
      height: auto;
    }
    &-button{
      padding: 0 10px;
      &__button {
        background-color: #4d5e72;
        color: white
      }
    }
  }
}
