.bg-grey{
    background-color: #ffffff;
    min-height: 100px;
}
.logo-nav{
    width: 50px;
}
.logo{
    &-brand{
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
    &-cart{
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
}
.bg-blue{
    background-color: #325d79;
}
.nav-div-center{
    display: flex;
    align-items: center;
    align-content: center;
}
.nav-left{
    width: 300px;
}
.nav-right{
    width: 300px
}
.nav-bg{
    background: black;
    height: 50px;
    display: flex;
    align-items: center;
    a{
        color: white;
        width: 16.66%;
        text-align: center;
        text-transform: uppercase;
    }
}
.cart-items-number{
    font-size: 14px;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    text-align: center;
    margin: auto;
    border-radius: 100%;
    background: red;
    position: absolute;
    top: 25px;
    right: 11px;
    z-index: 1000;
    color: white
}
