.product-image{
    padding: 10px;
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
}
.product-info-container{
    height: calc(100vh - 56px -20);
    border-left: 1px solid rgba($color: black, $alpha: 0.1);
    text-align: left;
    padding: 20px;
    .product-info-container-quantity{
        margin: 0;
        &>*{
            padding: 0
        }
    }
}
