.footer-component {
  .footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

    background-color: black;

    margin-top: 30px;
    &__info {
      color: white;
      text-align: center;
      margin: 10px 0;
    }
  }
}
